.slot {
    border: 1px solid #e05265;
    color: #e05265;
    padding: 30px 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slot.active {
    color: white;
    background-color: #e05265;
}
.shiftTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}
