.consultation-section {
    padding: 50px;
    background-color: #fff;
}

.section-title {
    text-align: center;
    color: #132d2e;
    font-size: 36px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}

// .form-container {
//     background: #ffdcdc;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     border-radius: 10px;
//     padding: 20px;
// }
.sectiontitle{
text-align: center;
}
.formtitle {
    text-align: center;
    color: #e05265;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.formdescription {
    text-align: center;
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.checkboxvideocall {
    margin-top: 20px;
}

.submitbutton {
    background-color: #e05265;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    &:hover {
        background-color: #d04358;
    }
}

.ant-card {
    border-radius: 10px;
}

.ant-card-cover img {
    border-radius: 10px 10px 0 0;
}

.boxForm{
    width: 100%;
    // background-color: rgba(255, 243, 243, 1);
    
    padding: 35px 30px;
    border-radius: 25px;
}
