.blog-section {
    padding: 50px;
    background-color: #ffdcdc;
    text-align: center;
}

.slick-slide {
    padding: 10px;
}

.blog-card {
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.blog-image {
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blog-tag {
    position: relative;
    transform: translateY(-40px);
    background-color: #e05265;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 700;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-tags {
    margin-top: 10px;
}
