.outboundrow {
    background-color: #ffecec !important; /* Màu đỏ nhạt */
    border: 1px solid #ffccc7 !important; /* Viền đỏ */
}

.inboundrow {
    background-color: #e8f5e9 !important; /* Màu xanh nhạt */
    border: 1px solid #c8e6c9 !important; /* Viền xanh */
}
