.avatar {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.title {
    color: #e05265;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.statistic{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}