@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.login-wrapper {
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #f8b0c2, #f48bb1);
    height: 100vh;
    overflow: hidden; 
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc0cb;
    padding: 50px;
}

.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 192, 203, 0.8);
    padding: 40px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.overlay-panel h1 {
    font-family: 'Anton', sans-serif;
    font-size: 1.8rem;
    color: #fff;
}

.form-container {
   padding: 50px;
}

.sign-in-container {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #d16b79;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}

input {
    background-color: #ffe4e9;
    color: #555;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 12px;
}

input::placeholder {
    color: #999;
}




.forgotlink {
    color: #ff6b6b;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    text-align: right;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .overlay-container {
        padding: 20px;
        height: auto;
    }

    .sign-in-container {
        width: 90%;
        max-width: none;
    }
}
