.container {
    width: 100%;
    padding: 50px;
}

.boxTitleRegimen {
    width: 100%;
    margin-bottom: 40px;

    h4 {
        color: rgba(139, 132, 132, 1);
        font-size: 20px;
        text-align: center;
        font-weight: 400;
    }
}

.boxRegimenList {
    width: 100%;
}

.boxRegimenItem {
    // background-color: whitesmoke;
    border-radius: 10px;
    min-height: 200px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
}

.boxRegimenItemTop {
    width: 100%;
    min-height: 50px;
    padding: 10px;
}

.boxRegimenItemTop p {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.boxTitleRegimenTop {
    text-align: center;

    h1 {
        color: black;
        font-size: 40px;
        font-family: Arial, sans-serif;
        font-weight: 500;
    }
}
.boxRegimenItem:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.08);
}
