.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 0 15px;
}

.boxForm {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: max-width 0.3s ease;

  button {
    width: 100%;
    padding: 10px;
    background-color: rgba(224, 82, 101, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #b62863;
  }
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.formInput {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 16px;
}



.btnLoginGoogle {
  background-color: rgba(221, 75, 57, 1);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btnLoginGoogle:hover {
  background-color: #c43d31;
}

p {
  margin: 10px 0;
}

a {
  color: rgba(224, 82, 101, 1);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
.errorMessage{
  color: red;
  font-size: 14px;
  margin-top: 10px;
}