@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
:root {
    --color-primary: #e05265;
}
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: 1.6rem;
}
.sx-react-calendar-wrapper {
    width: 100%;
    max-width: 100vw;
    height: 700px;
    max-height: 90vh;
}

.sx__time-grid-event-title {
    font-size: 1.5rem;
}
.sx__time-grid-event-time, .sx__time-grid-event-people, .sx__time-grid-event-location{
    font-size: 1rem;
}
