.videoCallContainer {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
}

.videoContainer {
    position: relative;
    display: flex;
}
.video2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20%;
    border-radius: 10px;
}
.video1 {
    width: 100%;

    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.2);
}

.iconcontrol {
    color: #ff4d4f;
    cursor: pointer;
    border: 1px solid #ff4d4f;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: #930200;
    }
}

.chatContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.chatHeaderTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.messageLeft,
.messageRight {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px 0;
    max-width: 60%;
    word-wrap: break-word;
}

.messageLeft {
    background-color: #f1f1f1;
    color: #000;
    float: left;
    border-radius: 20px 20px 20px 0;
}

.messageRight {
    background-color: #1890ff;
    color: #fff;
    float: right;
    border-radius: 20px 20px 0 20px;
}

.timestampleft,
.timestampright {
    font-size: 0.75rem;
    color: #999;
    margin-top: 5px;
}

.timestampleft {
    text-align: left;
}

.timestampright {
    text-align: right;
}

.avatar1,
.avatar2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.messageEnd,
.messageStart {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
}

.messageStart {
    justify-content: flex-start;
}

.messageEnd {
    justify-content: flex-end;
}

.chatcontent {
    max-height: 500px;
    overflow-y: auto;
}
.timevideo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff4d4f;
    margin: 10px;
    position: relative;
    top: -40px;
    z-index: 9999999;
}
.local-video {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20%;
    border-radius: 10px;
    z-index: 9999999;
}
.remote-video {
    position: relative;
}
